`<div style="background-color: #f2f2f2; padding: 20px 20px; margin: 0 auto;">
                                <p style="font-size: 38px; color: #061B61;margin-top:0;margin-bottom:15px">Bharat Blockchain Network Node Setup</p>
                                <div style="background-color: #ffffff; padding: 20px 20px; margin: 0 ; box-shadow: 4px 6px 23px 0 rgba(202,210,224,.7), 1px 2px 4px 0 #c8d2e1;">
                                <p>Hi ${data[i].name}</p>
                                <p>Greetings from Bharat Blockchain Network (BBN), an initiative from IDS with the support of AICTE.</p>
                                <p>Thank you for showing interest in Bharat Blockchain Network.</p>
                                <div><a style="display: inline-block; font-weight: normal; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid #34bfa3; padding: 0.65rem 1.25rem; font-size: 1rem; line-height: 1.25; border-radius: 0.25rem; color: #fff; background-color: #061B61; cursor: pointer !important; text-decoration: none;" href = "${HOST_PORTALURL}/auth/register/${generateToken}" target="_blank" rel="noopener">Confirm Email Address</a></div>
                                <p>If you are unable to click on button. Please Click on given Link.</p>
                                <a href= "${HOST_PORTALURL}/auth/register/${generateToken}">${HOST_PORTALURL}/auth/register/${generateToken}</a>
                                <p><strong>If you haven&rsquo;t requested this email, there&rsquo;s nothing to worry about &ndash; you can safely ignore it.</strong><br /> Look forward to work with you,<br /> Team IDS.</p>
                                </div>`,